<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oldgoat5.bmstacticalreference"
    android:versionCode="5"
    android:versionName="1.2.2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_launcher_icon"
        android:label="@string/app_name" >

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BrevityDictionaryActivity" />

        <activity
            android:name="com.oldgoat5.bmstacticalreference.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/BlueTheme"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <activity
            android:name=".tacticalreference.ListViewPopulateDataBase"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".navigation.korea.KoreaNavigationActivity"
            android:label="@string/korea_theater_title"
            android:theme="@style/BlueTheme">
        </activity>

        <activity
            android:name=".navigation.korea.interactivemap.KoreaInteractiveMapActivity"
            android:label="@string/korea_interactive_map"
            android:theme="@style/BlueTheme" >
        </activity>

        <activity
            android:name=".navigation.balkans.BattleForBalkansNavigationActivity"
            android:label="@string/balkans"
            android:theme="@style/BlueTheme">
        </activity>

        <activity
            android:name=".missionplanner.level.LevelBombMissionPlannerActivity"
            android:label="@string/level_bomb_mission_planner"
            android:theme="@style/BlueTheme">
        </activity>

        <activity
            android:name=".reference.FuelCalculatorActivity"
            android:label="@string/fuel_calculator"
            android:theme="@style/BlueTheme">
        </activity>

        <activity
            android:name=".reference.BrevityDictionaryActivity"
            android:label="@string/brevity_dictionary_title"
            android:noHistory="true"
            android:theme="@style/BlueTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>

        <activity android:name=".reference.TakeoffCalculatorActivity"
                  android:label="@string/takeoff_calculator"
                  android:theme="@style/BlueTheme">
        </activity>

        <activity
            android:name="com.oldgoat5.bmstacticalreference.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/BlueTheme" >
        </activity>

        <activity
            android:name="com.oldgoat5.bmstacticalreference.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/BlueTheme" >
        </activity>

    </application>
</manifest>
